@import url('https://fonts.googleapis.com/css?family=Gugi');

.home-icon {
    height: 100px;
    width: auto;
    margin-top: 20px;
}

.project-contain {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid #474B4F;
}

.projects-header{
    height: 200px;
    width: 100%;
    color: #222629;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: #e9ba00;
}

.projects-wrap {
    height: auto;
    width: 100%;
    background: #222629;
}

.project-link {
    text-decoration: none;
    color: white;
}

.location {
    color: lightgray;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

@media (min-width: 995px){
    .projects-header {
        background: url('./blueprints.jpeg');
        background-size: cover;
        background-position: center;
        height: 60vh;
        color: white;
        font-family: 'Gugi', cursive;
    }

    .projects-header h1 {
        font-size: 50px;
    }

    .project-contain {
        flex-direction: row;
        width: 45%;
        margin: 20px 0px;
    }

    .home-icon {
        height: 20vw;
    }

    .projects-only {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .project-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin: 20px auto;
    }

    .project-link:hover {
        color: #e9ba00;
}
}