@import url('https://fonts.googleapis.com/css?family=Gugi');

.phase-not-done {
    height: auto;
    margin: 20px;
    background: #474B4F;
    opacity: 1;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid #e9ba00;
    color: white;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.whole-contain {
    height: 100%;
    width: 100%;
}

.phase-done {
    height: auto;
    margin: 20px;
    background: #474B4F;
    opacity: .5;
    border-radius: 3px;
    padding: 10px;
    border: 2px dashed #e9ba00;
    color: white;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.phase-not-done p:first-of-type  {
    color: #e9ba00;
}

.admin-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.phases-contain {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.phases-contain h2{
    margin: -10px 0px 20px 0px;
}

.phase-dropdown p, label, .link-style, button {
    margin: 5px;
}

.phase-no-dropdown div, p {
    margin: 0px 0px 10px 0px;
}

.project-page {
    background: #222629;
    height: auto;
    width: 100%;
}

.home-icon-2 {
    height: 125px;
    width: auto;
    margin-top: 30px;
}

.phase-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.two-btns {
    color: #6B6E70;
    border: 2px solid #6B6E70;
    background: #222629;
    border-radius: 3px;
    margin: 0px 50px;
}

.two-btns:hover {
    color: #222629;
    background: #6B6E70;
}

.percent-contain {
    display: flex;
    align-items: center;
}

.percent {
    position: absolute;
    margin-left: 50px;
    color: white;
}

.phases-contain h1 {
    color: white;
}

.phases-contain h2 {
    color: #6B6E70;
}

.check {
    color: lightgray;
    font-size: 20px;
    width: auto;
}


.check-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-div {
    margin: 10px;
}

.project-btn-contain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.check-done {
    color: #e9ba00;
    font-size: 20px;
    width: auto;
}

.dropdown {
    color: lightgray;
    font-size: 20px;
    width: auto;
    margin: 5px;
    font-weight: 100;
}

.dropdown-open {
    color: #e9ba00;
    font-size: 20px;
    width: auto;
    margin: 5px;
    font-weight: 100;
}

.edit-btn {
    color: #00aff5;
    font-size: 20px;
    width: auto;
}

.trash {
    color: rgb(201, 3, 3);
    font-size: 20px;
}

.progress-contain {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.progress-contain h1 {
    color: white;
    text-align: center;
}

.progress-contain h2 {
    color: #6B6E70;
    text-align: center;
}

.view-phases {
    margin-left: 60px;
    margin-top: 20px;
}

.content {
    color: white;
    text-align: center;
}

.time-stamp {
    color: #6B6E70;
    text-align: center;
}

.name {
    color: #e9ba00;
    text-align: center;
}

.log-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.progression-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-top: 2px solid #6B6E70;
    margin-top: 10px;
    width: 100%;
}

.progression-control2 {
    width: 100%;
}

.progression-control {
    width: 100%;
}

.progression-contain img {
    width: 80%;
    height: auto;
    max-height: 300px;
}

.newlog-contain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.newlog-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
   margin: 25px 0px 30px 15px;
}

.newlog-input input {
    border-radius: 6px;
    background: lightgray;
}

.project-page h1 {
    font-weight: 700;
}

.log-back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.log-back p {
    color: #222629;
}

.newlog-contain label {
    color: lightgray;
    margin: 20px 0px 0px 0px;

}

.newphase-contain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.newphase-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 30px 0px;
}

.newphase-section label {
    color: lightgray;
    margin-right: 10px;
}

.newphase-section input {
    background: lightgray;
    border-radius: 6px;
}

.newphase-section input:focus {
    outline-color: #e9ba00;
}

.description {
    height: 50px;
}

.description:focus {
    outline-color: #e9ba00;
}

.two-btns-2 {
    color: #e9ba00;
    border: 2px solid #e9ba00;
    background: #222629;
    border-radius: 3px;
    margin: 0px 50px;
}

.two-btns-2:hover {
    color: #222629;
    background: #e9ba00;
}

.newphase-contain p {
    color: #6B6E70;
    text-align: center;
}

.newphase-contain h6 {
    color: #e9ba00;
    text-align: center;
}

.phases-text {
    text-align: center;
    color: lightgray;
}

.link-style {
    text-decoration: none;
    color: #6B6E70;
}

.link-style:hover {
    color: #e9ba00;
}

.chat-box {
    height: 80vh;
    overflow: auto;
    width: 90%;
    border-radius: 6px;
    background: lightgray;
    border: 2px solid #e9ba00;
    display: flex;
    flex-direction: column;
}

.new-message {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    align-content: center;
}

.new-message input {
    border-radius: 6px;
    background: lightgray;
    margin-left: 40px;
}

.new-message input:focus {
    outline-color: #e9ba00;
    
}

.new-message button {
    margin-top: 20px;
}

.myMessages {
    background: #e9ba00;
    width: 50%;
    margin: 20px 10px 20px auto;
    float: right;
    border-radius: 6px;
    text-align: center;
}

.myMessages .message-title, h3 {
    margin: 0px 10px;
}

.messages .message-title h3 {
    margin: 0px 10px 0px 10px;
    color: lightgray;
}

.messages .message-title, h3 {
    margin: 0px 10px 0px 10px;

}

.messages p:last-of-type {
    color: lightgray;
}

.messages .message-title p {
    margin: 5px;
    font-size: 14px;
    color: lightgray;

}

.messages .message-title .time_stamp-class {
    color: #e9ba00;
}

.messages {
    padding: 10px;
}




.messages h3 {
    font-size: 16px;
    margin-top: 5px;
}

.myMessages h3 {
    font-size: 16px;
    margin-top: 5px;
}

.messages {
    background: #474B4F;
    height: auto;
    width: 50%;
    margin: 20px auto 20px 10px;
    float: left;
    border-radius: 6px;
    text-align: center;
    
}

.message-title {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.translators {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 60px;
}

.mytranslators {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 60px;
}

.mytranslators button {
    background: none;
    color: #222629;
    border: 2px solid #222629;
    font-size: 13px;
    margin: 5px;
    font-weight: 700;
    border-radius: 6px;
    outline: none;
}

.mytranslators button:hover {
    background: #222629;
    color: #e9ba00;
    border: 2px solid #222629;
}

.translators button {
    background: none;
    color: #e9ba00;
    border: 2px solid #e9ba00;
    font-size: 13px;
    margin: 5px;
    font-weight: 700;
    border-radius: 6px;
    outline: none;
}

.translators button:hover {
    background: #e9ba00;
    color: #474B4F;
    border: 2px solid #e9ba00;

}

.phase-btns {
    margin-top: 20px;
}

.progression-contain p, .progression-contain button, .progression-contain div{
    margin: 10px;
}

.btn-toggles {
    background: transparent;
    border: none;
    color: #6B6E70;
}


.btn-toggles:hover {
    color: #e9ba00;
    outline: none;

}

.progress-contain h2{
    margin-bottom: 10px;
}
@media (min-width: 995px) {

    .name {
        font-size: 12px;
    }

    .progression-control2 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        width: 30%;
        height: 30%;
    }

    .chat-box {
        height: 80vh;
        overflow-y: scroll;
        width: 80%;
        border-radius: 6px;
        background: lightgray;
        border: 2px solid #e9ba00;
        display: flex;
        flex-direction: column;
    }

    .myMessages {
        width: 30%;
        padding: 10px;
    }

    .messages {
        width: 30%;
        height: auto;
    }

    .message-title {
        height: 40px;
    }

    
    .home-icon-2 {
        height: 250px;
    }

    .btn-toggles {
        background: none;
        outline: none;
        color: #6B6E70;
    }
    

    .btn-toggles:focus {
        color: #e9ba00;
    }

    .percent {
       margin-left: 100px;
       padding-bottom: 30px;
       font-size: 60px;
    }

    .phase-btns {
        width: 100%;
        margin-top: 20px;
    }

    .progression-control {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: 30px;

    }

    .progression-contain {
        width: 100%;
        height: 100%;
        border: 2px solid #6B6E70;
        margin: 20px;
    }

     .trash, .edit-btn, .progression-contain button {
        background: none;
        margin: 0px 10px;
        padding: 0px;
        border: none;
        flex-basis: 33%;

    }

    .two-btns {
        outline: none;
    }

    .phase-no-dropdown {
        font-size: 20px;
    }
}