@import url('https://fonts.googleapis.com/css?family=Gugi');

.phase-not-done {
    height: auto;
    margin: 20px;
    background: #474B4F;
    opacity: 1;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid #e9ba00;
    color: white;
}

.phase-done {
    height: auto;
    margin: 20px;
    background: #474B4F;
    opacity: .5;
    border-radius: 3px;
    padding: 10px;
    border: 2px dashed #e9ba00;
    color: white;
}

.phases-contain {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project-page {
    background: #222629;
    height: auto;
    width: 100%;
}

.home-icon-2 {
    height: 125px;
    width: auto;
    margin-top: 30px;
}

.phase-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.two-btns {
    color: #6B6E70;
    border: 2px solid #6B6E70;
    background: #222629;
    border-radius: 3px;
    margin: 0px 50px;
}

.two-btns:hover {
    color: #222629;
    background: #6B6E70;
}

.percent-contain {
    display: flex;
    align-items: center;
}

.percent {
    position: absolute;
    margin-left: 50px;
    color: white;
}

.phases-contain h1 {
    color: white;
}

.phases-contain h2 {
    color: #6B6E70;
}

.check {
    color: lightgray;
    font-size: 20px;
    width: auto;
}


.check-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-done {
    color: #e9ba00;
    font-size: 20px;
    width: auto;
}

.dropdown {
    color: lightgray;
    font-size: 20px;
    width: auto;
    margin: 5px;
    font-weight: 100;
}

.dropdown-open {
    color: #e9ba00;
    font-size: 20px;
    width: auto;
    margin: 5px;
    font-weight: 100;
}

.edit-btn {
    color: #00aff5;
    font-size: 20px;
    width: auto;
}

.trash {
    color: rgb(201, 3, 3);
    font-size: 20px;
}

.progress-contain {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.progress-contain h1 {
    color: white;
    text-align: center;
}

.progress-contain h2 {
    color: #6B6E70;
    text-align: center;
}

.view-phases {
    margin-left: 60px;
}

.content {
    color: white;
    text-align: center;
}

.time-stamp {
    color: #6B6E70;
    text-align: center;
}

.name {
    color: #e9ba00;
    text-align: center;
}

.log-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progression-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.newlog-contain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.newlog-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
   margin: 25px 0px 30px 15px;
}

.newlog-input input {
    border-radius: 6px;
    background: lightgray;
}

.log-back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.log-back p {
    color: #222629;
}

.newlog-contain label {
    color: lightgray;
    margin: 20px 0px 0px 0px;

}

.newphase-contain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.newphase-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 30px 0px;
}

.newphase-section label {
    color: lightgray;
    margin-right: 10px;
}

.newphase-section input {
    background: lightgray;
    border-radius: 6px;
}

.description {
    height: 50px;
}

.two-btns-2 {
    color: #e9ba00;
    border: 2px solid #e9ba00;
    background: #222629;
    border-radius: 3px;
    margin: 0px 50px;
}

.two-btns-2:hover {
    color: #222629;
    background: #e9ba00;
}

.newphase-contain p {
    color: #6B6E70;
    text-align: center;
}

.newphase-contain h6 {
    color: #e9ba00;
    text-align: center;
}

@media (min-width: 995px) {
    .home-icon-2 {
        height: 250px;
    }

    .percent {
       margin-left: 100px;
       padding-bottom: 30px;
       font-size: 60px;
    }

    .phase-btns {
        width: 100%;
    }

    .phases-text {
        text-align: center;
        color: lightgray;
    }

    .progression-control {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: 30px;

    }

    .progression-contain {
        width: 30%;
        border: 2px solid #6B6E70;
        margin: 20px;
    }

     .trash, .edit-btn, .progression-contain button {
        background: #222629;
        margin: 0px 10px;
        padding: 0px;
        border: none;
        flex-basis: 33%;

    }

    .two-btns {
        outline: none;
    }
}