.employees-contain {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.employees-header {
        height: 250px;
        width: 100%;
        color: #222629;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        background: #e9ba00;
    
}

.employees-contain h2 {
    color: white;
}

.employees-contain h4 {
    color: #e9ba00;
}

.employees-contain button {
    background: transparent;
    color: #6B6E70;
    border: 2px solid #6B6E70;
}

.employees-contain button:hover {
    background: #6B6E70;
    color: #222629;
}

.person {
    color: #e9ba00;
    font-size: 100px;
}

.person-info h2, h4, button {
    margin: 10px;
}

.employees-contain {
    border-bottom: 2px solid #6B6E70;
    padding: 10px 0px;
}

.parallax-emp {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.parallax-emp h1 {
    color: white;
    font-family: 'Gugi', cursive;
}

@media (min-width: 750px){

    .parallax-emp {
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .employees-header {
        background: url('./crop-construction-workers.jpg');
        background-size: cover;
        background-position: center;
        color: white;
        font-family: 'Gugi', cursive;
        height: 60vh;
    }

    .employees-header h1 {
        font-size: 50px;
    }

    .employees-control {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .employees-contain {
        border: 2px solid #6B6E70;
        margin: 20px;
        padding: 10px;
    }

    
}