@import url('https://fonts.googleapis.com/css?family=Gugi');

.main-img {
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.parallax {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.main-text {
    color: white;
    text-align: center;
    font-family: 'Gugi', cursive;
    font-weight: 100;
    font-size: 20px;
}

.sub-main-text {
    color: white;
    text-align: center;
    font-family: 'Gugi', cursive;
    font-weight: 100;
    font-size: 16px;
}

.get-started {
    color: #6b6b6b;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 30px 0px 30px;
    text-align: center;
}

.get-started h2 {
    font-size: 20px;
    margin: 10px;
}

.get-started:first-child {
    font-size: 25px;
}

.projects-div {
    background: #e9ba00;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #222629;
    font-weight: 700;
    margin: 30px 0px;
    text-decoration: none;
}

.employees-div {
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #222629;
    font-weight: 700;
    margin: 30px 0px 0px 0px;
    text-decoration: none;
    border-bottom: 2px solid #e9ba00;
    color: #e9ba00;
}

.section-1:hover {
   color: #222629;
   -webkit-text-stroke: 1px;
   -webkit-text-stroke-color: #e9ba00;
}

.section-2:hover {
    color: #e9ba00;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #222629;
}


@media (min-width: 995px) {
    .pages-div {
        display: flex;

    }

    .projects-div, .employees-div {
        width: 50%;
        height: 400px;
        font-size: 30px;
    }

    .employees-div {
        border: 2px solid #e9ba00;
    }

    .projects-div {
        border: 2px solid #222629;
    }

    .get-started {
        height: 400px;
        font-size: 30px;
        justify-content: space-evenly;
    }

    .main-img {
        height: 80vh;
    }

    .main-text {
        font-size: 60px;
    }

    .sub-main-text {
        font-size: 30px;
    }

   .employee-projects {
       display: flex;
       justify-content: space-around;
       align-items: center;
       text-align: center;
   }

   .parallax {
       height: 80vh;
   }

}