.employee-contain {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.employee-contain h1 {
    color: white;
}

.employee-contain h3 {
    color: #e9ba00;
    margin: 10px;
}

.employee-contain h4 {
    color: #6B6E70;
}

.employee-contain .projects-head {
    color: #6B6E70;
}

.projects-contain {
    border: 2px solid #6B6E70;
    margin: 10px;
    width: 90%;
}

.projects-contain h2 {
    color: white;
    margin: 10px;
}

.projects-contain h3 {
    color: #e9ba00;
    margin: 10px;
}

.projects-contain button {
    margin-bottom: 10px;
}

.phases-contain1 h2 {
    color: white;
    margin: 10px;
}

.phases-contain1 button {
    margin-bottom: 10px;
}

.log-back {
    margin-top: 10px;
}

.phases-contain1 {
    border: 2px solid #6B6E70;
    margin: 10px;
    width: 90%;
}

.profile-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border: 2px solid #6B6E70;
    margin-top: 20px;
}

.profile-projects h2, .profile-projects p, .profile-projects button {
    margin: 10px;
}



.employee-contain .phase-head {
    color: #6B6E70;
}

.employee-contain p {
    color: #6B6E70;
}

.phases-contain button {
    margin-bottom: 30px;
}

.white {
    color: #e9ba00;
}

.employee-contain .yellow {
    color: lightgray;
}

.employee-contain .gray {
    color: #6B6E70;
}

.my-link {
    text-decoration: none;
}

.person-icon {
    font-size: 100px;
    color: #e9ba00;
}

.icon-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.employee-project-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 20px 10px;
}

.yellow {
    color: white;
    font-size: 18px;
}

.gray {
    color: #6B6E70;
}

.back-btn-div {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 50px 10px;
}

.invis-btn {
    background: none;
    border: none;
    color: #222629;
}

@media (min-width: 750px) {
    .employee-control {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .person-icon {
        font-size: 200px;
        color: #e9ba00;
    }

    .icon-div {
        border: 2px solid #6B6E70;
    }

    .projects-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .profile-projects {
        width: 30%;
    }

    .yellow {
        font-size: 30px;
        margin-bottom: 50px;
        margin-top: 30px;
    }

    .projects-contain {
        width: 30%;
    }

    .phases-contain1 {
        width: 30%;
    }

}